extends layout
doctype html

block content
    form(method="POST", action="/articles/2lab")
    head
        title Кипр
    h1.title Курорты Кипра
    .block2
        ul
            li Айя-Напа
            p.text Айя-Напа — один из самых популярных курортов Кипра, в том числе и для семейного отдыха.
                | Завоевал свою популярность благодаря чистейшим, ухоженным и безопасным пляжам, обилию старинных (и не очень) достопримечательностей,
                | множеству парков аттракционов и аквапарков, а также барам, ресторанам и дискотекам.
                | Пляжи Айя-Напы, без преувеличений, лучшие на всем острове.
                | Помимо того, что отмечены Голубым флагом, они также могут похвастаться чистотой, ухоженностью, безопасной прибрежной зоной и отличными пейзажами.
                | Все пляжи Айя-Напы бесплатные, при этом они обладают необходимой инфраструктурой для отдыха, а также развлечениями для детей: площадками, горками, качелями.