extends layout

block content
    form(method="POST", action="/articles/2lab")
    head
        title Кипр
    h1.title Курорты Кипра
    .block2
        ul
            li Айя-Напа
            p.text Айя-Напа — один из самых популярных курортов Кипра, в том числе и для семейного отдыха.
                | Завоевал свою популярность благодаря чистейшим, ухоженным и безопасным пляжам, обилию старинных (и не очень) достопримечательностей,
                | множеству парков аттракционов и аквапарков, а также барам, ресторанам и дискотекам.
                | Пляжи Айя-Напы, без преувеличений, лучшие на всем острове.
                | Помимо того, что отмечены Голубым флагом, они также могут похвастаться чистотой, ухоженностью, безопасной прибрежной зоной и отличными пейзажами.
                | Все пляжи Айя-Напы бесплатные, при этом они обладают необходимой инфраструктурой для отдыха, а также развлечениями для детей: площадками, горками, качелями.
            li Лимассол
                p.text Если хотите не только хорошенько отдохнуть да позагорать, а еще и много чего увидеть и попутешествовать по острову, стоит остановиться в Лимассоле, городе,
                | который расположился между всеми популярными городами и старинными достопримечательностями острова.
                | Активным путешественникам также будет, чем заняться: дайвинг, серфинг, морские прогулки и спортивные центры.
                | Для детей в городе есть сразу несколько аквапарков.Пляжи Лимассола радуют чистотой и безопасной пологой береговой линией.
                | Правда, в сезон на них не так-то просто найти на них свободное место.
            li Пафос
                p.text Когда название города говорит само за себя.
                | Пафос оценят любители красивого отдыха в роскошных отелях и дорогих ресторанах. Это один из самых дорогих курортов не только Кипра, а и всего Средиземноморья.
                | Тысячи путешественников желают именно здесь провести свой отдых, благодаря отменному сервису, чистым пляжам, изысканным ресторанам и обилию старинных достопримечательностей.
                | Пафос больше подойдет для отдыха с друзьями или любимым человеком.
                | Для отдыха с детьми курорт будет не самым лучшим вариантом, так как для них здесь развлечений особо не предусмотрено, разве что «Аквапарк Афродиты».
            li Ларнака
                p.text В сравнении с предыдущими курортами Кипра, Ларнака отличается более доступными ценами и менее «вычурным» отдыхом.
                | При этом ей есть чем порадовать и удивить гостей, ведь город является чуть ли не старейшим на всем острове и сочетает в себе греческое и турецкое культурное наследие.
                | Одним из самых популярных развлечений в Ларнаке является дайвинг, в сезон здесь работает около десятка дайв-школ.
                | Опытные путешественники не называют пляжи Ларнаки лучшими на острове, однако и они также отмечены Голубым флагом, а значит, с чистотой и безопасностью проблем нет.
                | Как центральные, так и отдаленные пляжи курорта обустроены всей необходимой инфраструктурой, и вход на их территорию свободен.